<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>キャラクター診断 | キャラクター一覧</title>
	
	<link rel="stylesheet" th:href="@{css/normalize.css}" href="../../../resources/static/css/normalize.css">
	<link rel="stylesheet" th:href="@{css/diagnosis/style.css}" href="../../../resources/static/css/diagnosis/style.css">
	
</head>
<body>
	<div class="screen">
		<header>
			<p class="icon">鬼滅の刃<br>キャラクター診断</p>
			<h1>キャラクター一覧</h1>
		</header>
		
		<main class="main-column">
			<div class="card">
				<div class="thumb">キャラクター<br>画像</div>
				<div class="info">
					<p class="name">キャラクター名</p>
					<div class="desc">
						<span class="placeholder-text"></span>
						<span class="placeholder-text" style="width:80%"></span>
					</div>
				</div>
			</div>
			
			<div class="card">
				<div class="thumb">キャラクター<br>画像</div>
				<div class="info">
					<p class="name">キャラクター名</p>
					<div class="desc">
						<span class="placeholder-text"></span>
						<span class="placeholder-text" style="width:80%"></span>
					</div>
				</div>
			</div>
		</main>
		
		<footer>
			
			
		</footer>
	</div>
</body>
</html>
