<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.example.demo.repository.ChoiceCharacterScoreMapper">

<select id="findByChoiceId" resultType="com.example.demo.entity.Choice_character_scores">
 SELECT choice_id, character_id, score FROM choice_character_scores WHERE choice_id = #{choiceId} 
 </select>
<select id="findByChoiceIds" resultType="com.example.demo.entity.Choice_character_scores">
SELECT choice_id, character_id, score FROM choice_character_scores WHERE choice_id IN
<foreach item="choiceId" collection="choiceIds" open="(" separator="," close=")"> #{choiceId} </foreach>
</select>

</mapper>