<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.DiagnosisResultsMapper">

	<!-- 特定ユーザーの診断履歴を新しい順で取得 -->
	<select id="findByUserIdOrderByDiagnosedAtDesc" resultType="com.example.demo.entity.Diagnosis_results">
		SELECT id, user_id, character_id
		FROM diagnosis_results
		WHERE user_id = #{userId}
		ORDER BY id DESC
	</select>

	<!-- 診断結果を保存 -->
	<insert id="insert" parameterType="com.example.demo.entity.Diagnosis_results">
		INSERT INTO diagnosis_results (user_id, character_id)
		VALUES (#{user_id}, #{character_id})
	</insert>

</mapper>
