<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.ChoiceMapper">
	
	<!-- 特定の質問にぶら下がる選択肢だけをまとめて取得（質問画面を表示するときに使用） -->
	<select id="findByQuestionId" resultType="com.example.demo.entity.Choices">
		SELECT id, questions_id AS questionsId, characters_id AS charactersId, CONCAT(characters_id, body) AS body
		FROM choices
		WHERE questions_id = #{questionsId}
		ORDER BY id
	</select>
	
	<select id="findById" resultType="com.example.demo.entity.Choices">
		SELECT id, questions_id AS questionsId, characters_id AS charactersId, body
		FROM choices
		WHERE id = #{id}
	</select>
	
		<!-- 有木：最後の質問で、同点になったキャラクターの選択肢を取得する。 -->
	<!-- 有木：characters_idが指定されたキャラクターIDと一致する選択肢だけ取得する。 -->
	<select id="findByCharacterId" resultType="com.example.demo.entity.Choices">

		SELECT id, questions_id AS questionId, characters_id AS characterId, body

		FROM choices

		WHERE characters_id = #{characterId}

		ORDER BY id

	</select>
	
</mapper>