<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.UserMapper">

    <select id="findAll" resultType="com.example.demo.entity.Users">
        <!-- 全ユーザーを取得（表示用） -->
        SELECT id, name, body, created_at AS createdAt
        FROM users
    </select>

    <select id="findById" resultType="com.example.demo.entity.Users">
        <!-- IDでユーザーを1件取得（表示用） -->
        SELECT id, name, body, created_at AS createdAt
        FROM users
        WHERE id = #{id}
    </select>

    <insert id="insert"
        parameterType="com.example.demo.entity.Users"
        useGeneratedKeys="true"
        keyProperty="id">
    INSERT INTO users (name, body)
    VALUES (#{name}, #{body})
</insert>
	
    <update id="update" parameterType="com.example.demo.entity.Users">
        <!-- ユーザー情報の更新（編集用） -->
        UPDATE users
        SET name = #{name},body = #{body}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        <!-- IDでユーザーを削除（削除用） -->
        DELETE FROM users
        WHERE id = #{id}
    </delete>
    
    <select id="findByName" resultType="com.example.demo.entity.Users">
    SELECT id, name, body, created_at AS createdAt
    FROM users
    WHERE name = #{name}
</select>

</mapper>